<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="in.spring.maven.beans.Student" id="stdID">
    <property name="name" value="ABDUL MALIK"/>
     <property name="rollNo" value="1544"/>
      <property name="marks" value="45.2f"/>
    </bean>

</beans>